<div class="media">
  <div class="media-body">
    <h4 class="media-heading, test">
      <p>
        <%= link_to markdown(wiki.title), wiki %>
        <small>
          submitted <%= time_ago_in_words(wiki.created_at) %> ago by <%= wiki.user.email %>
        </small>
      </p>
    </h4><br>
  </div>
</div>
