<h1 align="center">Edit Wiki</h1>

<div class="row" align="center">
  <div class="col-md-4">
    <ul style="list-style: none;">
      <p>Guidelines for Edits</p>
      <li>It's cool, add to or change your wiki.</li>
      <li>Again, make sure the information is factual.</li>
    </ul>
  </div>
  <div class="col-md-4">
    <%= render partial: "form" %>
  </div>
</div>
