<div align="left" style="float: left; width: 50%;">
  <h1>Public Wikis</h1>
  <div>
    <%= render @public_wikis %>
  </div>
</div>

<div align="right" style="float: right; width: 50%;">
  <h1>Private Wikis</h1>
  <div>
    <% if current_user.premium? || current_user.admin? || current_collaborators(current_user) %>
      <%= render @private_wikis %>
    <% end %>
  </div>
</div>
