<h1 align="center">New wiki</h1>

<div class="row" align="center">
  <div class="col-md-4">
    <ul style="list-style: none;">
      <p>Guidelines for wikis</p>
      <li>Be Creative</li>
      <li>Make the Wiki Useful</li>
      <li>The incessant use of hashtags will get you banned.</li>
    </ul>
  </div>
  <div class="col-md-4">
    <%= render partial: "form" %>
  </div>
</div>
